.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.title-azerbaycan {
  margin-bottom: 62px;
  font-size: 24px;
  margin: 0 10px 62px 20px;
}

@media screen and (max-width: 1206px) {
  .title-azerbaycan {
    font-size: 20px;
  }
}

.title .underlined {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.title .underlined > .blue {
  background-color: #00a9d2;
  height: 3px;
  width: 30%;
}

.title .underlined > .red {
  background-color: #d72c18;
  height: 3px;
  width: 30%;
}

.title .underlined > .green {
  background-color: #00a65a;
  height: 3px;
  width: 30%;
}

.qarabag-img {
  width: 100%;
}

.qarabag-img__title {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 48px;
}

.container-azerbaijan {
  padding-top: 60px;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  font-family: Merriweather, serif;
  font-size: 14px;
  margin-bottom: 105px;
}

@media (max-width: 480px) {
  .container-azerbaijan {
    font-size: 12px;
  }
}

.container-azerbaijan .navigation {
  margin-top: 50px;
}

.qarabag__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
  line-height: 21px;
  font-weight: 500;
  margin-bottom: 105px;
  margin: 20px;
}

.qarabag__text-img {
  max-height: 322px;
  max-width: 322px;
}

@media (max-width: 1024px) {
  .qarabag__text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
  }
  .qarabag__text-img {
    width: 100%;
    margin: 10px;
  }
}

.qarabag-img-container {
  position: relative;
}

.qarabag-img-text {
  font-size: 14px;
  color: white;
  position: absolute;
  left: 0%;
  bottom: 10px;
  line-height: 21px;
  text-align: center;
  padding: 0px 50px 10px 50px;
}

@media (max-width: 600px) {
  .qarabag-img-text {
    font-size: 9px;
    line-height: 11px;
    font-weight: 300;
    padding: 0px 5px 00px 5px;
  }
}

.azerbaycan-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  line-height: 21px;
  font-weight: 500;
  margin-bottom: 105px;
  margin: 20px;
}

@media (max-width: 600px) {
  .azerbaycan-text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.medeniyyet-second-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

.azerbaycan-text-box__third > img {
  width: 242px;
}

.turizm-box-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.margin-top-bottom-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.books-container {
  max-width: 976px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
}

.book-container {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .book-container {
    padding: 10px;
  }
}

.book-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-container-top > div {
  width: 50%;
}

@media (max-width: 600px) {
  .book-container-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .book-container-top > div {
    width: 100%;
  }
}

.book-container-top > img {
  width: 200px;
}

.book-container-top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-container-top-text > div {
  margin-top: 20px;
}

.book-container-bottom {
  margin-top: 30px;
  font-size: 14px;
  line-height: 17.6px;
  color: #808080;
}

@media (max-width: 600px) {
  .book-container-bottom {
    font-size: 11px;
  }
}

.book-button {
  background-color: #0088B4;
  color: white;
  border-radius: 10px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 104px;
}

.book-button > img {
  width: 12px;
  height: 12px;
  background-color: red;
}

.books-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.neshirler-container {
  margin-bottom: 200px;
}

.neshr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

@media (max-width: 600px) {
  .neshr-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.neshr-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 633px;
}

@media (max-width: 600px) {
  .neshr-container-left {
    gap: 10px;
  }
}

.neshr-container-left .neshr-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.neshr-container-left .neshr-text {
  color: #808080;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.neshr-container-left .neshr-data {
  text-align: right;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  float: right;
}

.neshr-img {
  width: 200px;
  height: 200px;
}

.neshr-icon {
  width: 20px;
}
/*# sourceMappingURL=styleNurlan.css.map */